html{
    height: 100%;
}

body{
    background-color: #D2691E;
    background-image:url(images/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg);
    background-size: cover;
   
}

.container{

    margin-left: auto;
    margin-right: auto;
    height: 1024px;
}


nav{
    background-color:rgba(0, 0, 0, 0.733);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
 
}

header{
    height: 118px;
    text-align: center;
    padding-top: 5px;
    
}

nav a{
    text-decoration: none;
    font-size: 15px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: cursive;
    
}

h3{
    font-size: 20px;
    color: white;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    font-size: 23px;
    
}

h1{
    text-align: center;
    font-size: 37px;
}

header h3{
    font-size: 20px;
    color: black;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a{
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 5px;
}

footer p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 13px;
}

footer{
    background-color:rgba(0, 0, 0, 0.733);
    height: 80px;
    text-align: center;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

nav a:hover{
    color: lightgreen;
}

p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    text-align: center;
    padding-top: 20px;
    background-color:rgba(255, 255, 255, 0.4);
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    margin-top: 20px;
}

td{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}



